/*this styles was wroted for all website and all components */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

@font-face {
    font-family: 'PoetsenOne';
    src: url(./fonts/PoetsenOne-Regular.ttf);
}

// variables
$Jakarta-Sans: 'Plus Jakarta Sans', sans-serif;
$PoetsenOne: 'PoetsenOne';
$blk: #08090B;
$wht: #fff;
$secondary: #F1D047;
$DefWidth: 1230px;

// basic params 

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
p {
    margin: 0;
    padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background: #08090B;
    scroll-behavior: smooth;
    color: $wht;
}

.App {
    overflow: hidden;
}

// header.jsx
header {
    width: 100%;
    margin-bottom: 55px;


    nav.navbar {
        .container {
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #fff;
            padding-bottom: 25px;

            a.navbar-brand {
                font-family: $PoetsenOne;

            }

            .collapse {
                justify-content: end;

                .flexed {
                    display: flex;
                    justify-content: space-between;
                    width: 70%;
                    text-align: center;

                    @media (max-width:1400px) {
                        width: 73%;
                    }

                    @media (max-width:1200px) {
                        width: 80%
                    }

                    @media (max-width:992px) {
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;

                    }

                    ul.navbar-nav {
                        column-gap: 50px;

                        li.nav-item {
                            a.nav-link {
                                font-family: $Jakarta-Sans;
                                text-transform: uppercase;
                                transition: all 330ms cubic-bezier(0.215, 0.610, 0.355, 1);

                                &::after {
                                    content: '';
                                    display: block;
                                    border-bottom: 1px solid #eee;
                                    transform: scaleX(0);
                                    transition: 230ms cubic-bezier(0.215, 0.610, 0.355, 1);
                                }

                                &:hover::after {
                                    transform: scaleX(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// hero section
section.App-hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: url(./img/backgroundImage.png) no-repeat center center / cover;
    // min-height: 455px;
    height: 70vh;


    h1.display-1 {
        font-family: $Jakarta-Sans;
        font-weight: 800;
        letter-spacing: .4em;
        // margin-top: 295px;
    }

    p.display-6 {
        font-family: $Jakarta-Sans;
        font-weight: 500;
    }
}

// slider section
section.slider {
    margin-top: 25px;

}

// swiper.jsx
div.swiper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;

    .swiper-wrapper {
        width: 100%;

        .swiper-slide {
            // width: 470px;

            img {
                width: 100%;
                // height: 250px;
            }
        }
    }

    @mixin btnProp {
        cursor: pointer;
        width: 61px;
        height: 61px;
        border-radius: 50%;
        background: $secondary;
        color: $blk;
        z-index: 11;

    }

    div.swiper-button-prev {
        @include btnProp();

        &::after {
            content: "\ea60";
            font-family: "remixicon";
        }

    }

    div.swiper-button-next {
        @include btnProp();

        &::after {
            content: "\ea6c";
            font-family: "remixicon";
        }

    }
}

// experience section
section.Exp {
    max-width: $DefWidth;
    margin: 42px auto 112px auto;

    .container .row .col .subHeader {
        width: 100%;
        height: 90px;
        border-top: 1px solid $wht;
        border-bottom: 1px solid $wht;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $Jakarta-Sans;
        font-weight: 500;

    }

}

// experience.jsx
section.frame {
    padding: 64px;

    @media (max-width:576px) {
        padding: 24px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: $secondary;
    color: $blk;
    margin: 56px auto 0 auto;
    overflow: hidden;


    .heades {
        max-width: 540px;

        @media (max-width:1400px) {
            margin: auto;
        }

        h2 {
            font-family: $Jakarta-Sans;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 0.11em;
            margin-bottom: 33px;
        }

        img {
            width: 100%;
        }
    }

    .menu {
        max-width: 495px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width:1400px) {
            margin: 30px auto auto;

        }

        img {
            width: 100%;
        }

        ul {
            // height: 260px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            button {
                width: 240px;
                height: 65px;
                border-radius: 56px;
                font-size: 20px;
                font-family: $Jakarta-Sans;
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 17px;
                transition: 330ms cubic-bezier(0.23, 1, 0.320, 1);
                margin: 60px 0 25px 0;

                &:hover {
                    background: transparent;
                    color: $blk;

                    i {
                        border: 1px solid $blk;
                        border-radius: 50%;
                        transform: translateX(5px);
                    }
                }

                i {
                    // font-size: 21px;
                    width: 21px;
                    height: 21px;
                    border: 1px solid $wht;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    transition: 130ms;
                }
            }


            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: $Jakarta-Sans;
                font-weight: 500;
                font-size: 24px;
                height: 95px;
                border-top: 1px solid $blk;
                cursor: pointer;

                // border-bottom: 1px solid $blk;
                &:first-child {
                    border: none;
                }

                &:hover {
                    i {

                        transform: translateX(7px);
                    }
                }

                i {
                    transition: 330ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
                    cursor: pointer;

                }
            }
        }
    }
}

// section Works
section.Works {
    max-width: $DefWidth;
    margin: auto;

    .container .row .col {
        h2.display-2 {
            text-align: center;
            margin-bottom: 55px;
            font-family: $Jakarta-Sans;
            letter-spacing: 0.4em;
            text-transform: uppercase;
            font-weight: 700;
        }

        button.btn {
            font-family: $Jakarta-Sans;
            font-size: 20px;
            display: flex;
            align-items: center;
            column-gap: 17px;
            padding: 20px 40px;
            border-radius: 55px;
            margin: 32px auto 55px auto;
            transition: 330ms cubic-bezier(cubic-bezier(0.23, 1, 0.320, 1));

            &:hover {
                background: transparent;
                color: $wht;

                i {
                    border: 1px solid $wht;
                    transform: translateX(5px);
                }
            }

            i {
                width: 21px;
                height: 21px;
                border-radius: 50%;
                border: 1px solid $blk;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 100ms;
            }
        }
    }
}

// works.jsx

section.innerWorks {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    @media (max-width:992px) {}

    img {
        width: 100%;
    }

    .leftCol,
    .centerCol,
    .rightCol {
        display: flex;
        flex-direction: column;
        gap: 35px;

        .text {
            display: flex;
            align-items: flex-end;
            width: 100%;
            column-gap: 25px;
            text-transform: uppercase;
            margin-top: 15px;

            span {
                font-family: $Jakarta-Sans;
                font-size: 16px;
            }

            h2 {
                font-family: $Jakarta-Sans;
                font-size: 20px;
                letter-spacing: 0.12em;
            }
        }
    }

    .leftCol,
    .rightCol {
        @media(min-width: 992px) {
            .cards {
                max-width: 342px;
            }
        }

        @media (max-width:1400px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (max-width:1200px) {
            .cards {
                margin: auto;
            }
        }

        @media (max-width:992px) {
            width: auto;

            .cards {
                width: 100%;

                img {
                    width: 100%;
                }
            }
        }
    }

    .centerCol {
        @media (min-width: 1400px) {
            .cards {
                max-width: 408px;
            }
        }

        @media (max-width:1400px) and (min-width:992px) {
            .cards {
                max-width: 342px;
            }

            flex-direction: row;
            flex-wrap: wrap;
        }

        @media (max-width:1200px) {
            .cards {
                margin: auto;
            }

        }
    }
}

// section withMe
section.withMe {
    .container .row .col .frame {
        min-height: 332px;
        background: $secondary;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px;
        padding: 30px 50px;

        h2.display-2 {
            font-family: $Jakarta-Sans;
            font-weight: 800;
            max-width: 771px;
            color: $blk;
            text-transform: uppercase;
        }

        button.btn {
            font-family: $Jakarta-Sans;
            font-size: 20px;
            display: flex;
            align-items: center;
            column-gap: 17px;
            padding: 20px 40px;
            border-radius: 55px;
            transition: 330ms cubic-bezier(cubic-bezier(0.23, 1, 0.320, 1));
            background: $blk;

            &:hover {
                background: transparent;
                color: $blk;

                i {
                    border: 1px solid $blk;
                    transform: translateX(5px);
                }
            }

            i {
                width: 21px;
                height: 21px;
                border-radius: 50%;
                border: 1px solid $wht;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 100ms;
            }
        }

    }
}

// footer section
footer {
    min-height: 125px;
    margin-top: 55px;
    border-top: 1px solid $wht;
    display: flex;
    align-items: center;
}

// footer.jsx
section.innerFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    letter-spacing: 0.12em;

    a {
        font-family: $PoetsenOne;
        text-decoration: none;
        color: $wht;
        text-align: center;
    }

    ul {
        width: 325px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        font-family: $Jakarta-Sans;
        margin: 0 30px;

        li {
            cursor: pointer;

            &::after {
                content: '';
                display: block;
                border-bottom: 1px solid #eee;
                transform: scaleX(0);
                transition-duration: 330ms;
            }

            &:hover::after {
                transform: scaleX(1);
            }
        }
    }


    p {
        font-family: $Jakarta-Sans;
    }

    @media (max-width:576px) {
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;

        ul {
            width: auto;
            gap: 30px;
        }
    }
}