/*this styles was wroted for all website and all components */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "PoetsenOne";
  src: url(./fonts/PoetsenOne-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
p {
  margin: 0;
  padding: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background: #08090B;
  scroll-behavior: smooth;
  color: #fff;
}

header {
  width: 100%;
  margin-bottom: 55px;
}
header nav.navbar .container {
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 25px;
}
header nav.navbar .container a.navbar-brand {
  font-family: "PoetsenOne";
}
header nav.navbar .container .collapse {
  justify-content: end;
}
header nav.navbar .container .collapse .flexed {
  display: flex;
  justify-content: space-between;
  width: 70%;
  text-align: center;
}
@media (max-width: 1400px) {
  header nav.navbar .container .collapse .flexed {
    width: 73%;
  }
}
@media (max-width: 1200px) {
  header nav.navbar .container .collapse .flexed {
    width: 80%;
  }
}
@media (max-width: 992px) {
  header nav.navbar .container .collapse .flexed {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
}
header nav.navbar .container .collapse .flexed ul.navbar-nav {
  -moz-column-gap: 50px;
       column-gap: 50px;
}
header nav.navbar .container .collapse .flexed ul.navbar-nav li.nav-item a.nav-link {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-transform: uppercase;
  transition: all 330ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
header nav.navbar .container .collapse .flexed ul.navbar-nav li.nav-item a.nav-link::after {
  content: "";
  display: block;
  border-bottom: 1px solid #eee;
  transform: scaleX(0);
  transition: 230ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
header nav.navbar .container .collapse .flexed ul.navbar-nav li.nav-item a.nav-link:hover::after {
  transform: scaleX(1);
}

section.App-hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background: url(./img/backgroundImage.png) no-repeat center center/cover;
  height: 70vh;
}
section.App-hero h1.display-1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 0.4em;
}
section.App-hero p.display-6 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

section.slider {
  margin-top: 45px;
  overflow: hidden;
}

div.swiper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}
div.swiper .swiper-wrapper {
  width: 100%;
}
div.swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
}
div.swiper .controllers {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 5%;
}
div.swiper div.swiper-button-next,
div.swiper div.swiper-button-prev {
  cursor: pointer;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background: #F1D047;
  margin: auto;
  font-size: 24px;
  color: #08090B;
  z-index: 11;
}

section.Exp {
  max-width: 1230px;
  margin: 42px auto 112px auto;
}
section.Exp .container .row .col .subHeader {
  width: 100%;
  height: 90px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

section.frame {
  padding: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #F1D047;
  color: #08090B;
  margin: 56px auto 0 auto;
}
@media (max-width: 576px) {
  section.frame {
    padding: 24px;
  }
}
section.frame .heades {
  max-width: 540px;
}
@media (max-width: 1400px) {
  section.frame .heades {
    margin: auto;
  }
}
section.frame .heades h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  margin-bottom: 33px;
}
section.frame .heades img {
  width: 100%;
}
section.frame .menu {
  max-width: 495px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  section.frame .menu {
    margin: 30px auto auto;
  }
}
section.frame .menu img {
  width: 100%;
}
section.frame .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.frame .menu ul button {
  width: 240px;
  height: 65px;
  border-radius: 56px;
  font-size: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
  transition: 330ms cubic-bezier(0.23, 1, 0.32, 1);
  margin: 60px 0 25px 0;
}
section.frame .menu ul button:hover {
  background: transparent;
  color: #08090B;
}
section.frame .menu ul button:hover i {
  border: 1px solid #08090B;
  border-radius: 50%;
  transform: translateX(5px);
}
section.frame .menu ul button i {
  width: 21px;
  height: 21px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 130ms;
}
section.frame .menu ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  height: 95px;
  border-top: 1px solid #08090B;
  cursor: pointer;
}
section.frame .menu ul li:first-child {
  border: none;
}
section.frame .menu ul li:hover i {
  transform: translateX(7px);
}
section.frame .menu ul li i {
  transition: 330ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  cursor: pointer;
}

section.Works {
  max-width: 1230px;
  margin: auto;
}
section.Works .container .row .col h2.display-2 {
  text-align: center;
  margin-bottom: 55px;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  font-weight: 700;
}
section.Works .container .row .col button.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
  padding: 20px 40px;
  border-radius: 55px;
  margin: 32px auto 55px auto;
  transition: 330ms cubic-bezier(cubic-bezier(0.23, 1, 0.32, 1));
}
section.Works .container .row .col button.btn:hover {
  background: transparent;
  color: #fff;
}
section.Works .container .row .col button.btn:hover i {
  border: 1px solid #fff;
  transform: translateX(5px);
}
section.Works .container .row .col button.btn i {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #08090B;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

section.innerWorks {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media (max-width: 992px) {
  section.innerWorks {
    overflow: hidden;
  }
}
section.innerWorks img {
  width: 100%;
}
section.innerWorks .leftCol,
section.innerWorks .centerCol,
section.innerWorks .rightCol {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
section.innerWorks .leftCol .text,
section.innerWorks .centerCol .text,
section.innerWorks .rightCol .text {
  display: flex;
  align-items: start;
  width: 100%;
  -moz-column-gap: 25px;
       column-gap: 25px;
  text-transform: uppercase;
  margin-top: 15px;
}
section.innerWorks .leftCol .text span,
section.innerWorks .centerCol .text span,
section.innerWorks .rightCol .text span {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}
section.innerWorks .leftCol .text h2,
section.innerWorks .centerCol .text h2,
section.innerWorks .rightCol .text h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.12em;
}
@media (min-width: 992px) {
  section.innerWorks .leftCol .cards,
section.innerWorks .rightCol .cards {
    max-width: 342px;
  }
}
@media (max-width: 1400px) {
  section.innerWorks .leftCol,
section.innerWorks .rightCol {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 1200px) {
  section.innerWorks .leftCol .cards,
section.innerWorks .rightCol .cards {
    margin: auto;
  }
}
@media (max-width: 992px) {
  section.innerWorks .leftCol,
section.innerWorks .rightCol {
    width: auto;
  }
  section.innerWorks .leftCol .cards,
section.innerWorks .rightCol .cards {
    width: 100%;
  }
  section.innerWorks .leftCol .cards img,
section.innerWorks .rightCol .cards img {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  section.innerWorks .centerCol .cards {
    max-width: 408px;
  }
}
@media (max-width: 1400px) and (min-width: 992px) {
  section.innerWorks .centerCol {
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.innerWorks .centerCol .cards {
    max-width: 342px;
  }
}
@media (max-width: 1200px) {
  section.innerWorks .centerCol .cards {
    margin: auto;
  }
}

section.withMe .container .row .col .frame {
  min-height: 332px;
  background: #F1D047;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 30px 50px;
}
section.withMe .container .row .col .frame h2.display-2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  max-width: 771px;
  color: #08090B;
  text-transform: uppercase;
}
section.withMe .container .row .col .frame button.btn {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  -moz-column-gap: 17px;
       column-gap: 17px;
  padding: 20px 40px;
  border-radius: 55px;
  transition: 330ms cubic-bezier(cubic-bezier(0.23, 1, 0.32, 1));
  background: #08090B;
}
section.withMe .container .row .col .frame button.btn:hover {
  background: transparent;
  color: #08090B;
}
section.withMe .container .row .col .frame button.btn:hover i {
  border: 1px solid #08090B;
  transform: translateX(5px);
}
section.withMe .container .row .col .frame button.btn i {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}

footer {
  min-height: 125px;
  margin-top: 55px;
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
}

section.innerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  letter-spacing: 0.12em;
}
section.innerFooter a {
  font-family: "PoetsenOne";
  text-decoration: none;
  color: #fff;
  text-align: center;
}
section.innerFooter ul {
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 30px;
}
section.innerFooter ul li {
  cursor: pointer;
}
section.innerFooter ul li::after {
  content: "";
  display: block;
  border-bottom: 1px solid #eee;
  transform: scaleX(0);
  transition-duration: 330ms;
}
section.innerFooter ul li:hover::after {
  transform: scaleX(1);
}
section.innerFooter p {
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media (max-width: 576px) {
  section.innerFooter {
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
  }
  section.innerFooter ul {
    width: auto;
    gap: 30px;
  }
}/*# sourceMappingURL=App.css.map */